U1/U1_T3_VALIDATING_XML_FILES_WITH_XML_Schema/Exercise_1.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="Members">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="Member" maxOccurs="unbounded">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element name="Name" type="xs:string" />
                            <xs:element name="Years_of_Membership" type="xs:integer" />
                        </xs:sequence>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
            </xs:complexType>
    </xs:element>
</xs:schema>